#content {
    background-image: url("http://clipart-library.com/images/6Tp6RzyGc.png");
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: center;*/
    /*background-attachment: fixed;*/
}