
h1{
    color: #2f4f4f;
    margin-bottom: 10px;
}
.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;



}

.nav li{
    display: inline-block;
    padding-bottom: 15px;

}
/*Zad 2 border radius*/
.nav a{
    color: white;
    background-color: orange;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    border-width: 4px;
    border-style: solid;
    border-color: black;

}

.nav a:hover{
    background-color: #804d00;
}

#home-icon{
    position:relative;
    width: 50px;
    height: 50px;
    top: 17px;

}
#home-icon-background{
    background-color: mediumaquamarine;
}

