
p > em {
    font-style: italic;
    text-decoration: underline ;
}

h1 ~ p {
    font-size: small;
}

h1 + p {
    font-size: 15px;
}


a:link {
    color: blue;
}

a:visited {
    color: darkblue;
}

a:active {
    color: green;
}

div nav ul li a:active{
    color: white;
}

div nav ul li a:link{
    color: white;
}

div nav ul li a:visited{
    color: white;
}

p:empty {
    width: 100px;
    height: 20px;
    background: black;
}

p:first-of-type{
    text-decoration: underline;
}

p:last-child{
    background: red;
}

:not(p){
    background: white;
}

p:nth-last-child(2) {
    background: whitesmoke;
}

em:only-child {
    background: #fff8f9;
}

:target {
    border: 2px solid #D4D4D4;
}
body{
    background: whitesmoke none no-repeat fixed center;
}
