/*1. Zastosuj właściwość text-shadow*/
/*3. RGBA, HSLA*/

header {
    font-family: Palatino Linotype, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    font-style: oblique;
    font-variant: small-caps;
    text-shadow: 2px 2px rgb(255, 0, 0);
    padding-left: 80px;
    background-image: url("https://t4.ftcdn.net/jpg/01/02/03/55/240_F_102035585_dtVJl2aoxa4Bwty4dc9IwyumxhbtRpFv.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-origin: border-box;

}

article {
    font-size: 120%;
    }

article h2 {
    font-size: 2em;
    color: hsla(120, 60%, 70%, 1);;

}

article h4 {
    font-size: 20pt;
    line-height: 200%;
    font-family: Verdana, sans-serif;

}

article p {
    font-size: 20px;
    font-weight: 300;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, red, yellow, green); /* Safari */
    background: -o-radial-gradient(circle, red, yellow, green); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, red, yellow, green); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, red, yellow, green); /* Standard syntax */

}

#content {

    /*background-position: center;*/
    /*background-attachment: fixed;*/
}


#header2{
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

#header3{

    transform: skewX(10deg);
}

#picturesDiv{
    position: relative;
    margin: 0;
}

#picturesDiv img{
    position: absolute;
    left: 0;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

#topPic:hover{
    opacity: 0;
}

#firstArticle{

    column-count: 3;

    column-gap: 20px;

    column-rule-style: dotted;

    column-rule-width: 2px;
    column-rule-color: white;
}

@media handheld and (max-width: 480px),
        screen and (max-width: 480px),
        screen and (max-width: 480px) {
    #secodArticle{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 481px)
and (max-width:1024px) {
    #secodArticle{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1025px) {
    #secodArticle{
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
