/*Zad 3
Zaprezentuj praktyczne wykorzystanie różnych sposobów zmiany wielkości tekstu na*/
/*stronie (em, px, pt, %)*/


/*7. Zaprezentuj różne sposoby formatowania tekstu oraz ustawianiej jego szerokości*/
/*(font-weight, font-style, font-variant, font-size, line-height, font-family)*/
header {
    font-family: Palatino Linotype;
    font-size: xx-large;
    font-weight: bolder;
    font-style: oblique;
    font-variant: small-caps;
}

article {
    font-size: 120%;
}

article h2 {
    font-size: 2em;

}

article h4 {
    font-size: 20pt;
    line-height: 200%;
    font-family:Verdana;

}

article p {
    font-size: 20px;
    font-weight: 300;
}